ADDRESS=localhost:8080
PORT=8080
CORS_ALLOW_ORIGIN=*
UPDATE_INTERVAL_MINUTES=1m

PERSISTENCE_DIRECTORY=/tmp/wuu2
TOKEN_PERSISTENCE_ENABLED=true

TRAKT_ENABLED=false
TRAKT_ID=f1345...

BATTLENET_ENABLED=false
BATTLENET_REQUEST_URI=https://eu.api.blizzard.com
BATTLENET_CLIENT_ID=9c7dsa2d...
BATTLENET_CLIENT_SECRET=PG6bnF43N...
BATTLENET_REALM=1306
BATTLENET_CHARACTER=LeeroyJenkins
BATTLENET_CHARACTER_ID=123...
BATTLENET_LOCALE=en_GB
BATTLENET_REGION=eu
BATTLENET_REDIRECT_URI=http://localhost:8080/auth/battlenet/callback
BATTLENET_SCOPE=wow.profile

APPLEMUSIC_ENABLED=false
APPLEMUSIC_TEAM_ID=ABCDE12345
APPLEMUSIC_KEY_ID=GHBB8BRP55
APPLEMUSIC_PRIVATE_KEY_PATH=tokens

RETROACHIEVEMENTS_ENABLED=false
RETROACHIEVEMENTS_KEY=3fewe3333
RETROACHIEVEMENTS_USER=wilderyns

STEAM_ENABLED=false
STEAM_WEBAPI_KEY=dsda2ewq...
STEAM_ID=7656119...

AUTH_SECURITY_CODE=Password
